<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>
    CheckersLounge
</h2>
</body>
<script src="http://localhost:5000/socket.io/socket.io.js"></script>
<script>
    const socket = io("http://localhost:5000", {
        reconnectionDelay: 1000,
        reconnection: true,
        reconnectionAttemps: 10,
        transports: ["websocket"],
        agent: false,
        upgrade: false,
        rejectUnauthorized: false,
    });

    socket.on("connect", () => {
        console.log("connected to websocket");
    });
</script>
</html>
